
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <!-- Css -->
    <link href="~/Assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/css/custom.css" rel="stylesheet" />
    <link href="~/Assets/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Script -->
    <script src="~/Assets/scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Assets/scripts/bootstrap.js"></script>
    <!-- Fonts -->
    <title>Contact</title>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index","Home")">Blog Application</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="@Url.Action("Index","Home")">Home</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","About")">About</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header class="intro" style="background-image:url('../../Assets/images/Coding-Computer-Stock-Image.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="blog-heading">
                        <h1>Personal Blog</h1>
                        <hr class="blog-small-hr">
                        <span class="blog-subheading">Introduction</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="content">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="contact-heading">Contact</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
